## Write a Python program to remove duplicates from a list.

In [1]:
def Remove(duplicate):
    final_list = []
    for num in duplicate:
        if num not in final_list:
            final_list.append(num)
    return final_list
     
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4,7,8,9,5,8]
print(Remove(duplicate))

[2, 4, 10, 20, 5, 7, 8, 9]

# Write a Python program to combine two dictionary adding values for common keys
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

In [2]:
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

# Write a Python program to convert a tuple to a string.

In [3]:
def convertTuple(tup):
    str = ''
    for item in tup:
        str = str + item
    return str
 
 
# Driver code
tuple = ('a', 'n', 'u', 'b', 'h','a')
str = convertTuple(tuple)
print(str)

anubha

# Write a Python program to remove item(s) from set

In [4]:
num_set = set([0, 1, 3, 4, 5,6,7,8,9])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5, 6, 7, 8, 9}

After removing the element from the said set:
{1, 3, 4, 5, 6, 7, 8, 9}

# Write a Python program to create a symmetric difference

In [5]:
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1 - setn2
print("\nDifference of setn1 - setn2:")
print(r1)
r2 = setn2 - setn1
print("\nDifference of setn2 - setn1:")
print(r2)

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Difference of setn1 - setn2:
{2, 3, 4}

Difference of setn2 - setn1:
{8, 9, 6, 7}

# Write a Python program to construct the following pattern, using a nested for loop.

In [6]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")
for i in range(rows + 1, 0, -1):
    for j in range(1, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Write a Python program to get the Fibonacci series between 0 to 50.

1
1
2
3
5
8
13
21
34